# Variable assignment

In [2]:
age = 31

In [3]:
print(age)

31

In [4]:
first_name = 'Jon'

In [5]:
print(first_name)

Jon

In [6]:
last_name='Downing'

In [7]:
age = age + 2

In [9]:
print('Age in two years: ',age)

Age in two years:  33

In [10]:
whos

Variable     Type    Data/Info
------------------------------
age          int     33
first_name   str     Jon
last_name    str     Downing

In [11]:
a = 15.0

In [12]:
whos

Variable     Type     Data/Info
-------------------------------
a            float    15.0
age          int      33
first_name   str      Jon
last_name    str      Downing

In [14]:
a.is_integer()

True

In [16]:
a.__class__

float

In [17]:
b = 'hello'

# Data types and type conversion

In [18]:
type(b)

str

In [21]:
print(a-8)

7.0

In [23]:
print(b-'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
print('23')

23

In [25]:
c='23'

In [26]:
a+c

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [28]:
a+int(c)

38.0

In [29]:
b+'h'

'helloh'

# More complex data type

In [30]:
a_list=[1,2,3,4]

In [32]:
a_list[0:2]

[1, 2]

In [35]:
a_list[::-1]

[4, 3, 2, 1]

In [36]:
another_list=[1,'hello','jon',2.3]

In [37]:
another_list.append('another item')

In [38]:
another_list

[1, 'hello', 'jon', 2.3, 'another item']

In [39]:
another_list.remove('hello')

In [40]:
another_list

[1, 'jon', 2.3, 'another item']

In [41]:
duplicated_list=[1,1,1,2,3,4]

In [42]:
set(duplicated_list)

{1, 2, 3, 4}

# Built in Functions
len, min, max, list, str, int, float, set, round, abs

In [43]:
len(a_list)

4

In [44]:
len(last_name)

7

In [45]:
a_set = {1,1,2,3}

In [46]:
a_set

{1, 2, 3}

In [47]:
list(a_set)

[1, 2, 3]

In [49]:
a_dictionary = {'jon':32,'dave':87}

In [50]:
a_dictionary['jon']

32

# Libraries

In [51]:
import math

In [52]:
print('pi is', math.pi)

pi is 3.141592653589793

In [53]:
math.e

2.718281828459045

In [54]:
import random

In [57]:
a=random.randrange(1,1000)
a

473